{% extends 'components/base_card.html' %}

{% block title %}
Set Task
{% endblock %}

{% block button %}
<button type="submit"
    hx-post="{{ url_for('set_task') }}"
    hx-target="#target"
    hx-include="form"
    tabindex="2"
    class="relative inline-flex items-center px-4 py-2 text-sm font-medium border border-transparent rounded-md shadow-sm bg-sky-700 text-neutral-300 hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-2">
    Submit Task</button>
{% endblock %}

{% block content %}
<form class="px-4 my-4 sm:px-6" method="post" id="taskform">
    <div class="mt-1">
        <textarea rows="4" name="task" id="task" tabindex="1" autofocus onfocus="this.select();"
            class="block w-full border-gray-300 rounded-md shadow-sm focus:border-sky-500 focus:ring-sky-500 sm:text-sm">{{ task }}</textarea>
    </div>
</form>
{% endblock %}
