{% extends 'components/base_card.html' %}

{% block title %}
Set Task
{% endblock %}

{% block button %}
<button type="submit"
    hx-post="{{ url_for('set_task') }}"
    hx-target="#target"
    hx-include="form"
    class="relative inline-flex items-center rounded-md border border-transparent bg-sky-700 px-4 py-2 text-sm font-medium text-neutral-300 shadow-sm hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-2">
    Submit Task</button>
{% endblock %}

{% block content %}
<form class="px-4 sm:px-6 my-4" method="post" id="taskform">
    <div class="mt-1">
        <textarea rows="4" name="task" id="task"
            class="block w-full rounded-md border-gray-300 shadow-sm focus:border-sky-500 focus:ring-sky-500 sm:text-sm">{{ task }}</textarea>
    </div>
</form>
{% endblock %}
